{% extends 'base.html.twig' %}


{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="d-flex flex-column p-2 bd-highlight" action="{{ path('app_login') }}" method="post">
        <div class="mb-3 col-6">
            <label for="username">Username:</label>
            <input class="form-control p-2" type="text" id="username" name="_username" value="{{ last_username }}">
        </div>
        <div class="mb-3 col-6">
            <label for="password">Password:</label>
            <input class="form-control p-2" type="password" id="password" name="_password">
        </div>
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/"> #}
        <div class="mb-3 form-check">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </div>
    </form>
{% endblock %}